* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282828;
}

.swiper-pagination span {
  background-color: white;
}

header .nav-1 {
  background-color: rgb(83, 83, 83);
}
header .nav-1 #turndark {
  display: none;
}
header .nav-1 #turnlight {
  position: absolute;
  right: 30px;
  top: 25px;
  font-size: 35px;
  cursor: pointer;
  color: white;
}
header .nav-1 ul {
  display: flex;
  float: right;
  margin: 31px 105px;
}
header .nav-1 ul li {
  margin: 0px 10px;
  list-style: none;
}
header .nav-1 ul li a {
  color: rgb(243, 243, 243);
  font-family: Roboto;
}
header .nav-1 ul #srpski {
  color: rgb(172, 172, 172);
  text-decoration: none;
}
header .nav-1 img {
  margin: 17px 105px;
}
header .nav-2 {
  background-color: #282828;
}
header .nav-2 ul {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
}
header .nav-2 ul #kontakt {
  border-right: 1px solid rgb(83, 83, 83);
}
header .nav-2 ul li {
  list-style: none;
  text-align: center;
  border-left: 1px solid rgba(136, 135, 135, 0.4);
  padding: 0px 35px;
}
header .nav-2 ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Roboto Condensed;
}
header .nav-2 ul li a span {
  color: rgb(243, 243, 243);
  font-size: 12px;
}

.video-slider img {
  width: 100%;
  height: 40rem;
}

.aboutsec {
  display: flex;
  margin: 70px 0px;
}
.aboutsec .about-section {
  margin-left: auto;
  margin-right: auto;
}
.aboutsec .about-section .left-about {
  float: left;
  width: 50%;
}
.aboutsec .about-section .right-about {
  float: right;
  width: 50%;
  padding-top: 38px;
  width: 40%;
  float: right;
}
.aboutsec .about-section .right-about h1 {
  font-size: 42px;
  color: rgb(255, 255, 255);
  position: relative;
  font-family: Roboto;
  font-weight: bold;
}
.aboutsec .about-section .right-about h1::after {
  content: "";
  position: absolute;
  background-color: rgb(191, 15, 15);
  height: 6px;
  width: 137px;
  left: 0;
  bottom: -25px;
}
.aboutsec .about-section .right-about h3 {
  margin-top: 50px;
  color: rgb(243, 243, 243);
  font-family: Inter;
  position: relative;
}
.aboutsec .about-section .right-about h3::after {
  content: "";
  position: absolute;
  background-color: rgba(196, 196, 196, 0.4);
  height: 3px;
  width: 524px;
  left: 0;
  bottom: -35px;
}
.aboutsec .about-section .right-about p {
  margin-top: 75px;
  color: rgb(243, 243, 243);
  font-family: Roboto;
  font-size: 14px;
}
.aboutsec .about-section .right-about button {
  background-color: rgb(191, 15, 15);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 50px;
}

.distribucija-text {
  background-image: url("/img/dvgprevoz.jpeg");
  background-attachment: fixed;
  text-align: center;
  color: white;
  padding: 250px 0px;
  background-size: cover;
  text-transform: uppercase;
  font-family: Roboto;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 10000px inset;
  margin-bottom: 70px;
}
.distribucija-text h1 {
  letter-spacing: 7px;
  font-weight: bold;
  position: relative;
}
.distribucija-text h1::after {
  content: "";
  position: absolute;
  background-color: rgb(191, 15, 15);
  height: 6px;
  width: 137px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -25px;
}

.information-section h4 {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 20px;
  position: relative;
}
.information-section h4::after {
  content: "";
  position: absolute;
  background-color: rgb(191, 15, 15);
  height: 2px;
  width: 50px;
  left: 0;
  bottom: -8px;
}

.number-section {
  padding-top: 150px;
}
.number-section #number-naslov {
  text-align: center;
  font-size: 42px;
  color: rgb(255, 255, 255);
}
.number-section #number-pod {
  text-align: center;
  font-family: inter;
  font-size: 28px;
  color: rgb(243, 243, 243);
  position: relative;
}
.number-section #number-pod::after {
  content: "";
  position: absolute;
  background-color: rgb(191, 15, 15);
  height: 6px;
  width: 137px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -30px;
}
.number-section .brojke {
  margin-top: 100px;
  background-image: url("/img/brojke.png");
  padding: 100px 0px;
  text-align: center;
  color: white;
}
.number-section .brojke h1 {
  font-weight: bold;
  font-family: Inter;
  font-size: 46px;
}
.number-section .brojke p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
}

.proizvodi-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: rgb(63, 63, 63);
}
.proizvodi-section h2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Roboto;
  text-transform: uppercase;
  margin-left: 30px;
  margin-top: 18px;
  position: relative;
}
.proizvodi-section h2::after {
  content: "";
  position: absolute;
  background-color: rgb(191, 15, 15);
  height: 2px;
  width: 54px;
  left: 0;
  bottom: -8px;
}
.proizvodi-section .swiper-wrapper img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.proizvodi-section h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-family: Inter;
  position: relative;
}
.proizvodi-section h1::after {
  content: "";
  position: absolute;
  background-color: rgba(196, 196, 196, 0.4);
  height: 3px;
  width: 524px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -55px;
}
.proizvodi-section p {
  color: rgb(243, 243, 243);
  text-align: center;
  font-size: 14px;
  margin-top: 120px;
}
.proizvodi-section .swiper {
  height: 23rem;
  margin-top: 80px;
}
.proizvodi-section .swiper .swiper-slide {
  background-color: #282828;
}
.proizvodi-section #proizvodislika {
  position: absolute;
  bottom: -25px;
  left: 6px;
}

.swiper {
  width: 100%;
  height: 40rem;
}
.swiper .swiper-button-prev {
  color: white;
  font-weight: bold;
}
.swiper .swiper-button-next {
  color: white;
  font-weight: bold;
}

.brendovi-section {
  padding: 100px 0px;
  text-align: center;
}
.brendovi-section h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 28px;
  text-align: center;
  position: relative;
}
.brendovi-section h1::after {
  content: "";
  position: absolute;
  background-color: rgba(196, 196, 196, 0.4);
  height: 3px;
  width: 524px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -55px;
}
.brendovi-section .brands {
  margin-top: 110px;
  text-align: center;
}
.brendovi-section .brands p {
  color: rgb(243, 243, 243);
  font-family: Inter;
  font-size: 18px;
}
.brendovi-section button {
  background-color: rgb(191, 15, 15);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 50px;
}

footer {
  background-image: url("/img/footerimg.jpg");
  background-position: 0px -300px;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding-top: 120px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 10000px inset;
}
footer .cmpny-social p {
  font-family: Roboto;
  font-size: 14px;
}
footer .cmpny-social ul {
  margin-left: -35px;
}
footer .cmpny-social ul li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
}
footer .cmpny-options {
  border-left: 1px solid rgba(255, 255, 255, 0.26);
  border-right: 1px solid rgba(255, 255, 255, 0.26);
  margin-left: 70px;
}
footer .cmpny-options ul {
  margin-top: -5px;
}
footer .cmpny-options ul li {
  list-style: none;
  margin-top: 4px;
  font-size: 16px;
}
footer .cmpny-options ul li a {
  text-decoration: none;
  font-family: Roboto Condensed;
  color: rgb(255, 255, 255);
}
footer .cmpny-logo {
  text-align: center;
}
footer .cmpny-logo img {
  margin-top: -20px;
}
footer .cmpny-info {
  border-left: 1px solid rgba(255, 255, 255, 0.26);
  padding-left: 40px;
}
footer .cmpny-info h1 {
  text-transform: uppercase;
  font-family: Inter;
  font-size: 28px;
  font-weight: bold;
}
footer .cmpny-info p {
  font-size: 14px;
  font-family: Roboto;
  margin-left: 28px;
  margin-top: 20px;
}
footer .cmpny-info #location {
  position: relative;
}
footer .cmpny-info #location::before {
  content: "";
  background-image: url("/img/locationicon.png");
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 3px;
}
footer .cmpny-info #number {
  position: relative;
}
footer .cmpny-info #number::before {
  content: "";
  background-image: url("/img/phoneicon.png");
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 0;
}
footer .cmpny-info #email {
  position: relative;
}
footer .cmpny-info #email::before {
  content: "";
  background-image: url("/img/emailicon.png");
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 1px;
}
footer .copyright-footer {
  display: flex;
  font-family: Roboto;
  padding: 20px 0px;
  margin-top: 70px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 10000px inset;
}
footer .copyright-footer #copyright {
  color: rgba(255, 255, 255, 0.3);
  margin-left: 65px;
  text-decoration: none;
}
footer .copyright-footer #privatnost {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 305px;
}
footer .copyright-footer #uslovi {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 115px;
}
footer .copyright-footer #poweredby {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  margin-left: 420px;
}
footer .copyright-footer #poweredby span {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
}

#menuopen {
  display: none;
}

#menuclose {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 10000px inset;
  top: 0;
  bottom: 0;
  z-index: 100;
}
.overlay .scrollpopup {
  background-image: url("/img/footerimg.jpg");
  background-size: cover;
  margin-top: 15rem;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 10px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 10000px inset;
  position: relative;
}
.overlay .scrollpopup h1 {
  color: white;
  font-family: Roboto;
  font-weight: bold;
}
.overlay .scrollpopup h2 {
  color: white;
  font-family: Roboto;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.overlay .scrollpopup h2 span {
  color: rgb(191, 15, 15);
}
.overlay .scrollpopup button {
  background-color: rgb(191, 15, 15);
  color: white;
  padding: 10px 60px;
  font-family: Inter;
  font-size: 20px;
  border: 1px solid rgb(191, 15, 15);
  border-radius: 10px;
}
.overlay .scrollpopup #popupclose {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.overlay .scrollpopup #popupclose:hover {
  color: rgb(191, 15, 15);
}

@media only screen and (max-width: 425px) {
  h1::after {
    display: none;
  }
  .scrollpopup {
    width: 85% !important;
    margin-top: 5rem !important;
  }
  header .nav-2 ul {
    display: none;
    z-index: 99;
    /* left: -199px; */
    position: absolute;
    right: 0px;
    background: white;
    width: 100%;
    padding: 0px 0px;
  }
  header .nav-2 ul li {
    border-left: none;
    border-right: none;
    margin: 5px 0px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.26);
  }
  header .nav-1 {
    width: 100%;
    position: relative;
  }
  header .nav-1 #turnlight {
    top: 83px;
    right: 23px;
  }
  header .nav-1 img {
    margin: 17px 15px;
  }
  header .nav-1 ul {
    margin: 10px 0px;
    float: left;
  }
  header .nav-1 #menuopen {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
  }
  header .nav-1 #menuclose {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
  }
  .about-section .left-about {
    width: 100% !important;
  }
  .about-section .left-about img {
    width: 100%;
  }
  .about-section .right-about {
    width: 100% !important;
    text-align: center !important;
  }
  .about-section h3::after {
    width: 300px !important;
  }
  .about-section h1 {
    margin-bottom: -20px;
  }
  .information-section {
    padding-top: 70px;
  }
  .information-section IMG {
    width: 100%;
  }
  .information-section h4 {
    margin-bottom: 30px;
    margin-top: 5px;
  }
  .number-section {
    padding-top: 90px;
  }
  .number-section #number-pod {
    margin-bottom: -50px;
  }
  .number-section #number-pod::after {
    display: block;
    left: 0 !important;
    right: 0;
    margin: 0 auto;
  }
  .proizvodi-section h1 {
    margin-bottom: -90px !important;
  }
  .proizvodi-section h1::after {
    left: 0;
    width: 300px;
    bottom: -40px;
  }
  .distribucija-text h1::after {
    display: block;
  }
  .brendovi-section h1 {
    margin-bottom: -85px;
  }
  .brendovi-section h1::after {
    left: 0;
    width: 300px;
  }
  footer {
    background-position: 0px 0px;
  }
  footer .copyright-footer {
    display: inline-block;
    margin-top: 30px !important;
  }
  footer .copyright-footer a {
    margin-left: 0px !important;
    display: block;
    text-align: center;
  }
  footer img {
    margin-top: -45px !important;
  }
  footer .cmpny-info {
    border-left: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    margin-top: 30px;
  }
  footer .cmpny-info p {
    margin-left: 60px;
  }
  footer .cmpny-options {
    margin-top: 20px;
    border-right: none;
  }
  footer .cmpny-social {
    margin-top: 20px;
    text-align: center;
  }
  footer .cmpny-social p {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  #number-pod::after {
    left: 119px !important;
  }
  .brendovi-section .col-md-2 {
    width: 50%;
  }
  footer .cmpny-info {
    padding-left: 58px;
  }
  footer .cmpny-options {
    margin-left: 85px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  #number-pod::after {
    left: 145px !important;
  }
  .brendovi-section .col-md-2 {
    width: 33.3%;
  }
  footer .cmpny-info {
    padding-left: 82px;
  }
  footer .cmpny-options {
    margin-left: 112px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  p::after {
    display: none !important;
  }
  h1::after {
    display: none !important;
  }
  h2::after {
    display: none !important;
  }
  h3::after {
    display: none !important;
  }
  .about-section .left-about img {
    width: 100%;
  }
  .brendovi-section .col-md-2 {
    width: 33.3%;
  }
}
@media only screen and (min-width: 425px) and (max-width: 1400px) {
  .scrollpopup {
    width: 60% !important;
    margin-top: 8rem !important;
  }
  .copyright-footer {
    display: none;
  }
  h1::after {
    display: none;
  }
  p::after {
    display: none;
  }
  h3::after {
    display: none;
  }
  header .nav-2 ul {
    display: none;
    z-index: 99;
    /* left: -199px; */
    position: absolute;
    right: 0px;
    background: white;
    width: 100%;
    padding: 0px 0px;
  }
  header .nav-2 ul li {
    border-left: none;
    border-right: none;
    margin: 5px 0px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.26);
  }
  header .nav-1 {
    width: 100%;
    position: relative;
  }
  header .nav-1 img {
    margin: 17px 15px;
    margin-left: 47px !important;
  }
  header .nav-1 ul {
    margin: 10px 0px;
    float: left;
    padding-top: 18px;
  }
  header .nav-1 #menuopen {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
  }
  header .nav-1 #menuclose {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
  }
  .about-section .left-about {
    width: 100% !important;
    text-align: center;
  }
  .about-section .right-about {
    width: 100% !important;
    text-align: center;
  }
  .about-section .right-about h1::after {
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .about-section .right-about h3::after {
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .information-section {
    padding-top: 70px;
  }
  .information-section .col-md-4 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .information-section .col-md-4 h4 {
    margin-bottom: 30px;
  }
  .information-section .col-md-4 h4::after {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .distribucija-text h1::after {
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .number-section #number-pod::after {
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .proizvodi-section h1::after {
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .brendovi-section h1::after {
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  footer {
    background-position: 0px !important;
  }
  footer .cmpny-info {
    padding-left: 17px;
    margin-left: 66px;
  }
  footer .cmpny-options {
    margin-left: 110px;
  }
  footer .copyright-footer {
    display: inline-block;
    width: 100%;
    margin-top: 30px !important;
  }
  footer .copyright-footer a {
    margin-left: 0px !important;
    display: block;
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  header .nav-1 {
    width: 100%;
    position: relative;
  }
  header .nav-1 #menuopen {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
  }
  header .nav-1 #menuclose {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
  }
  header .nav-2 ul {
    display: none;
    z-index: 99;
    /* left: -199px; */
    position: absolute;
    right: 0px;
    background: white;
    width: 100%;
    padding: 0px 0px;
  }
  header .nav-2 ul li {
    border-left: none;
    border-right: none;
    margin: 5px 0px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.26);
  }
  header .about-section .left-about {
    width: 100% !important;
  }
  header .about-section .right-about {
    width: 100% !important;
    text-align: center;
  }
}/*# sourceMappingURL=dark.css.map */